name: Pull Request on main

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

#The commit SHA that triggered the workflow. The value of this commit SHA depends on the event that
#triggered the workflow.
jobs:
  get-sha-on-pr:
    if: github.event_name == 'pull_request'
    name: Get SHA over Pull Request
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get SHA
        run: |
          echo "SHA on pull request ( on branch ${{github.ref}}): ${{github.sha}}" >> README.md

      - name: Save file in local repo
        uses: ./.github/actions/git-commit
        with:
          file_pattern: README.md
          commit_message: "chore: update build log [skip ci]"
          # branch_name: main

  get-sha-on-push:
    name: Get SHA on push event
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get SHA
        run: |
          echo "SHA on push event ( on branch ${{github.ref}}): ${{github.sha}}" >> README.md

      - name: Save file in local repo
        uses: ./.github/actions/git-commit
        with:
          file_pattern: README.md
          commit_message: "chore: update build log [skip ci]"
          # branch_name: main
